body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered 4px solid;
    text-align: center;
}

.images>img {
    height: 100%;
    width: 100%;
    padding: 3px;
}